/*

KMaleon KIWI
------------
Estilos del sitio web de la documentación del framework y PRUEBAS

*/

.cl-logo{
    max-width: 100%;
}

@media all and (min-width: 360px) {
    body {
        background-color: #E2213C;
    }
    /*.n-container {*/
        /*width: 340px;*/
    /*}*/
    .n-nav-items {
        display: none;
    }
    .n-nav-items li {
        display: block;
    }
    .n-nav-toggle {
        display: block;
        padding: 8px;
    }
}
@media all and (min-width: 480px) {
    body {
        background-color: #F05325;
    }
    /*.n-container {*/
        /*min-width: 420px;*/
    /*}*/
    .n-nav-items {
        display: none;
    }
    .n-nav-items li {
        display: block;
    }
    .n-nav-toggle {
        display: block;
        padding: 8px;
    }
}
@media all and (min-width: 800px) {
    body {
        background-color: yellow;
    }
    /*.n-container {*/
        /*width: 760px;*/
    /*}*/
    .n-nav-items {
        display: inline-block;
    }
    .n-nav-toggle {
        display: none;
    }
    .n-nav-items li {
        display: inline-table;
        text-align: center;
        width: 100px;
    }
}
@media all and (min-width: 1024px) {
    body {
        background-color: #E5318A;
    }
    /*.n-container {*/
        /*width: 960px;*/
    /*}*/
}
@media all and (min-width: 1200px) {
    body {
        background-color: #0097B3;
    }
    .n-container {
        width: 1180px;
    }
}