
body {
    color: var(--body-color);
    background-color: var(--body-bg-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 0;
}
pre {
  	background-color:#F1F1F1;
  	border: 1px solid #F9F9F9;
  	padding-top:10px;
    padding-bottom:10px;
  	overflow: auto;
  	color:#0150c7;
    display: block;
    font-family: monospace;
    white-space: pre;
}
[class*="n-col-"] ul {
    margin-left: var(--margin);
    margin-bottom: var(--margin);
}
p {
    margin-bottom: var(--margin);
}
code {
    background-color: #fff39e;
    padding: 0 5px;
}
/*
ENCABEZADOS
*/
h1, h2, h3, h4, h5 ,h6{
    color: var(--h-color);
    font-weight: 600;
    letter-spacing: -0.035em;
    line-height: 1em;
    margin-bottom: 15px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
label{
    font-size: 1rem;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    border-top: 2px solid #c9c7c7;
}
::-webkit-scrollbar-track{
    background-color: #008099;
}
::-webkit-scrollbar{
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #006B80;
}

.cl-page-content{
    background-color: #FFFFFF;
    padding: 25px;
    display: block;
    height: 100%;
}
.cl-page-header{
    background-color: #FFFFFF;
    padding: 10px;
    display: block;
}
.cl-page-footer{
    background-color: #333;
    padding: 10px;
    display: block;
    color: white;
    margin-top: 15px;
}
.cl-page-footer a{
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
}
/*Estilo de la Ventana Modal*/
/***********Inicio***********/
#n-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 500;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
    box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
    border-radius: 4px 4px 4px 4px;
    padding-top: 40px;
}
.n-modal-header {
    background-color: #FFFFFF;
    padding: 13px 13px 13px 13px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #EEEEEE;
    color: #333333;
    width: 500px;
    margin: 0 auto;
}
.n-modal-title {
    font-size: 16px;
    margin: 0px;
}
.n-modal-body {
    background-color: #FFFFFF;
    padding: 13px 13px 13px 13px;
    width: 500px;
    margin: 0 auto;
}
.n-modal-footer {
    background-color: #F5F5F5;
    padding: 13px 13px 13px 13px;
    border-radius: 0px 0px 4px 4px;
    width: 500px;
    margin: 0 auto;
}
.n-modal-close {
    float: right;
    right: 15px;
    top: 15px;
    color: #333333;
    font-size: 17px;
    font-weight: normal;
    line-height: 10px;
    text-decoration: none;
}
/***********Final***********/

/*Estilo de panel*/
/***********Inicio***********/
.n-panel{
    width: 100%;
}
.n-panel-header {
    background-color: #FFFFFF;
    padding: 13px 13px 13px 13px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #EEEEEE;
    color: #333333;
    margin: 0 auto;
}
.n-panel-title {
    font-size: 16px;
    margin: 0px;
}
.n-panel-body {
    background-color: #FFFFFF;
    padding: 13px 13px 13px 13px;
    margin: 0 auto;
}
.n-panel-footer {
    background-color: #F5F5F5;
    padding: 13px 13px 13px 13px;
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.n-panel-close {
    float: right;
    right: 15px;
    top: 15px;
    color: #333333;
    font-size: 17px;
    font-weight: normal;
    line-height: 10px;
    text-decoration: none;
}
/***********Final***********/

/*Estilo de Textos*/
/***********Inicio***********/
.n-text-left{
    text-align: left;
}
.n-text-right{
    text-align: right;
}
.n-text-justify{
    text-align: justify;
}
.n-text-center{
    text-align: center;
}
.n-text-bold{    
    font-weight: bold; 
}
.n-text-uppercase{
    text-transform: uppercase;
}
/***********Final***********/

/*Estilo de Colores*/

/***********Inicio***********/
/*Colores de texto*/
.n-color-white { color: #FFFFFF; }
.n-color-blue { color: #0150C7; }
/*Colores de fondo*/
.n-color-bg-white { background-color: #FFFFFF; }
.n-color-bg-blue { background-color: #0150C7; }
/*Colores de bordes*/
.n-color-bd-white { border-color: #FFFFFF; }
.n-color-bd-blue { border-color: #0150C7; }

.btn-color-default{
    border: 1px solid #C3C3C3;
    background-color: #DDDDDD;
    color: #333333;
}
.btn-color-default:hover{
    background-color: #C3C3C3;
}
.btn-color-red{
    border: 1px solid #C0392B;
    background-color: #E74C3C;
    color: #FFFFFF;
}
.btn-color-red:hover{
    background-color: #C0392B;
}
.btn-color-green{
    border: 1px solid #27AE60;
    background-color: #2ECC71;
    color: #FFFFFF;
}
.btn-color-green:hover{
    background-color: #27AE60;
}
.btn-color-blue{
    border: 1px solid #0097E6;
    background-color: #00A8FF;
    color: #FFFFFF;
}
.btn-color-blue:hover{
    background-color: #0097E6;
}
.btn-color-purple{
    border: 1px solid #7B4782;
    background-color: #9B59A3;
    color: #FFFFFF;
}
.btn-color-purple:hover{
    background-color: #A669AD;
    color: #FAFAFA;
}
.btn-color-turquoise{
    border: 1px solid #00829A;
    background-color: #0097B3;
    color: #FFFFFF;
}
.btn-color-turquoise:hover{
    background: #00ADCC;
}
.btn-color-orange{
    border: 1px solid #D35400;
    background-color: #E67E22;
    color: #FFFFFF;
}
.btn-color-orange:hover{
    background-color: #D35400;
}
.btn-color-politecnia{
    border: 1px solid #007070;
    background-color: #008080;
    color: #FFFFFF;
}
.btn-color-politecnia:hover{
    background-color: #007070;
}
.btn-color-binarylemon{
    border: 1px solid #C9A200;
    background-color: #FCCA00;
    color: #7D6400;
}
.btn-color-binarylemon:hover{
    background-color: #C9A200;
}
.input-color-green input[type=text]{
    border: 1px solid #27AE60;
}
.input-color-red input[type=text], .input-color-red input[type=password]{
    border: 1px solid #C0392B;
}
.input-color-gris input[type=text], .input-color-gris input[type=password]{
    border: 1px solid #BCBABA;
}
/***********Final***********/

/*Estilo de Botones*/
/***********Inicio***********/
.n-btn{
    border-radius: 2px;
    height: 30px;
    min-width: 90px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid transparent;
}
.cl-btn-lg{
    width: 100%;
}
.cl-btn-large{
    font-size: 1.5rem;
    border-radius: 2px;
    height: 45px;
    min-width: 150px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid transparent;
    padding-left: 18px;
    padding-right: 18px;
}
.cl-right{
    float: right;
}
/***********Final***********/
input[type=text], input[type=password], input[type=email]{
    border: 1px solid #00A8FF;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    padding: 8px;
    text-indent: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}
input:focus { 
    outline:0;
    background-color: #F1F1F1;
}
.line input[type="text"], .line input[type="password"], .line input[type="email"]{
    width: 100%;
    padding: 8px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #00A8FF;
    font-size: 1rem;
    color: #333;   
    border-radius:0px;
    box-sizing: border-box;
}
.line input:focus { 
    outline:0px;
}
.cl-form-input{
    margin-bottom: 8px;
    width: 100%;
}

/*
Menú de navegación (nav-bar)
*/
/*
.n-nav-block{
    background-color: #F0F0F0;
}
.n-nav-block-items {
    list-style: none;
}
.n-nav-block a {
    text-decoration: none;
    color: #333333;
    padding: 5px;
    display: block;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.n-nav-block a:hover {
    color: #000;
    background-color: #FFF;
    padding: 5px;
    display: block;
}*/
/*
FIN: Menú de navegación (nav-bar)
*/
@media all and (max-width: 360px) and (min-width: 0px) {
    body {
        background-color: #803594;
    }
    /*
    .n-nav-block-items {
        display: none;
    }
    .n-nav-block-items li {
        display: block;
    }
    .n-nav-block-toggle {
        display: block;
        padding: 8px;
    }
    */
    .n-modal-header, .n-modal-body, .n-modal-footer{
        width: 210px;
    }
}