/*

KMaleon Layout
--------------
Estructura base de contenedores, filas y columnas (adaptables)

*/

/*Restableciendo todos los elementos*/
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Asegrurarse que el margen interno (padding) y el borde formen parte del ancho total. */
}
img {
    max-width: 100%;
    height: auto;
}
video {
    max-width: 100%;
    height: auto;
}
.n-container-full
{
    width: 100%;
}
.n-container
{
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
}
.n-row {
    width: 100%;
}
/*
Elminar desborde del contenido de las filas
*/
.n-container-full::after,
.n-container::after,
.n-row::after {
    content: '';
    clear: both;
    display: table;
}
/*
Estilo global para todas las columnas (empiezan por kol-)
Todas serán de 100% de ancho inicialmente (Mobile First)
*/
[class*="n-col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
/* Mobile - Small */
@media only screen and (max-width: 480px) {
    [class*="n-col-"] {
        width: 100%;
    }
}
/* Mobile - Smartphones */
@media only screen and (min-width: 480px) {
    .n-container {width: 480px;}
    .n-col-1s {width: 8.33%;}
    .n-col-2s {width: 16.66%;}
    .n-col-3s {width: 25%;}
    .n-col-4s {width: 33.33%;}
    .n-col-5s {width: 41.66%;}
    .n-col-6s {width: 50%;}
    .n-col-7s {width: 58.33%;}
    .n-col-8s {width: 66.66%;}
    .n-col-9s {width: 75%;}
    .n-col-10s {width: 83.33%;}
    .n-col-11s {width: 91.66%;}
    .n-col-12s {width: 100%;}
}
/* Mobile - Tablets */
@media only screen and (min-width: 768px) {
    .n-container {width: 768px;}
    .n-col-1m {width: 8.33%;}
    .n-col-2m {width: 16.66%;}
    .n-col-3m {width: 25%;}
    .n-col-4m {width: 33.33%;}
    .n-col-5m {width: 41.66%;}
    .n-col-6m {width: 50%;}
    .n-col-7m {width: 58.33%;}
    .n-col-8m {width: 66.66%;}
    .n-col-9m {width: 75%;}
    .n-col-10m {width: 83.33%;}
    .n-col-11m {width: 91.66%;}
    .n-col-12m {width: 100%;}
}
/* Escritorio - Estándar */
@media only screen and (min-width: 960px) {
    .n-container {width: 960px;}
    .n-col-1 {width: 8.33%;}
    .n-col-2 {width: 16.66%;}
    .n-col-3 {width: 25%;}
    .n-col-4 {width: 33.33%;}
    .n-col-5 {width: 41.66%;}
    .n-col-6 {width: 50%;}
    .n-col-7 {width: 58.33%;}
    .n-col-8 {width: 66.66%;}
    .n-col-9 {width: 75%;}
    .n-col-10 {width: 83.33%;}
    .n-col-11 {width: 91.66%;}
    .n-col-12 {width: 100%;}
}
/*Escritorio - Ampliado */
@media only screen and (min-width: 1200px) {
    .n-container {width: 1200px;}
    .n-col-1w {width: 8.33%;}
    .n-col-2w {width: 16.66%;}
    .n-col-3w {width: 25%;}
    .n-col-4w {width: 33.33%;}
    .n-col-5w {width: 41.66%;}
    .n-col-6w {width: 50%;}
    .n-col-7w {width: 58.33%;}
    .n-col-8w {width: 66.66%;}
    .n-col-9w {width: 75%;}
    .n-col-10w {width: 83.33%;}
    .n-col-11w {width: 91.66%;}
    .n-col-12w {width: 100%;}
}
