* {
    --border: 1px dashed red;
}

/* Menú compacto (desplegable) */
.n-nav {
    height: 50px;
    max-height: 50px;
}
/* Menú en bloque (módulos) */
.n-nav-block {
    height: 64px;
    max-height: 64px;
}
.n-nav, .n-nav-block {
    display: flex;
    width: 100%;
    margin-bottom: var(--margin);
    background-color: var(--nav-bg-color);
    border-bottom: var(--nav-border);
}
.n-nav .n-nav-logo {
    padding: 5px 12px;
}
.n-nav-block .n-nav-logo {
    padding: 10px 12px;
}
.n-nav-logo {
    overflow: visible;
    flex-direction: row!important;
}
.n-nav-logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
}
.n-nav-logo img {
    float: left;
    height: 40px;
    margin-right: 5px;
}
.n-nav-logo span {
    display: flex;
    padding: 0.4rem;
    font-size: 1.5rem;
    height: 40px;
}
.n-nav-menu-container {
    display: flex;
    flex-direction: row!important;
    right: 0;
    width: 100%;
    margin-left: 50px;
}
.n-nav-block .n-nav-menu,
.n-nav-block .n-nav-user
{
    position: relative;
    flex-direction: row!important;
}
.n-nav-menu ul,
.n-nav-user ul
{
    list-style: none;
    display: flex;
    height: 100%;
}
.n-nav-menu ul li,
.n-nav-user ul li
{
    height: 100%;
}
.n-nav .n-nav-menu ul li.active a,
.n-nav .n-nav-user ul li.active a
{
    font-weight: bold;
}
.n-nav-block .n-nav-menu ul li.active a,
.n-nav-block .n-nav-user ul li.active a
{
    border-bottom: var(--nav-border-item-hover);
    background-color: #E5E5E5;
}
.n-nav .n-nav-menu ul li a,
.n-nav .n-nav-user ul li a
{
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}
.n-nav-block .n-nav-menu ul li a,
.n-nav-block .n-nav-user ul li a
{
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    color: inherit;
    display: block;
}
.n-nav .n-nav-menu ul li a:hover,
.n-nav .n-nav-menu ul li a:hover .n-icon,
.n-nav .n-nav-user ul li a:hover,
.n-nav .n-nav-user ul li a:hover .n-icon
{
    color: #108100;
}
.n-nav-block .n-nav-menu ul li a:hover,
.n-nav-block .n-nav-user ul li a:hover,
.n-nav-block .n-menu-opened
{
    background-color: var(--nav-bg-color);
    border-bottom: var(--nav-border-item-hover);
}
.n-nav .n-nav-menu .n-icon,
.n-nav .n-nav-user .n-icon
{
    margin-right: 5px;
    color: gray;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 3px;
}
/*.n-nav .n-nav-user .n-icon:last-child {*/
    /*margin-right: 0;*/
/*}*/
.n-nav-block .n-nav-menu .n-icon,
.n-nav-block .n-nav-user .n-icon {
    color: gray;
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
}
.n-nav .n-nav-menu .n-dropdown-icon,
.n-nav .n-nav-user .n-dropdown-icon
{
    display: inline;
    padding-top: 5px;
}
.n-nav .n-nav-menu ul li .n-nav-label,
.n-nav .n-nav-user ul li .n-nav-label
{
    padding: 4px;
    font-size: 1rem;
    text-align: center;
    display: block;
}
.n-nav-block .n-nav-menu ul li .n-nav-label,
.n-nav-block .n-nav-user ul li .n-nav-label
{
    text-align: center;
    display: block;
}
.n-nav .n-nav-user {
    right: 0;
    flex-direction: row!important;
    margin-left: auto!important;
}
.n-nav-block .n-nav-user {
    right: 0;
    flex-direction: row!important;
    margin-left: auto!important;
}
.n-nav ul.n-dropdown-menu,
.n-nav-block ul.n-dropdown-menu
{
    background-color: var(--nav-bg-color);
    border: var(--nav-border);
    border-radius: 0 0 5px 5px;
    position: absolute;
    display: table;
    white-space: nowrap;
    z-index: 500;
    height: auto;
}
.n-nav ul.n-dropdown-menu .n-icon-submenu,
.n-nav-block ul.n-dropdown-menu .n-icon-submenu
{
    margin-right: 5px;
}
.n-nav ul.n-dropdown-menu {
    border-top: var(--nav-border-item-hover);
}
.n-nav ul.n-dropdown-menu li a,
.n-nav-block ul.n-dropdown-menu li a
{
    color: var(--nav-color);
    padding: 8px 12px;
}
.n-nav ul.n-dropdown-menu li a:hover,
.n-nav-block ul.n-dropdown-menu li a:hover
{
    color: var(--nav-color-hover);
    border: none;
    background-color: var(--nav-bg-color);
}

.n-nav .n-dropdown-divider,
.n-nav-block .n-dropdown-divider
{
    background-color: yellow;
    width: 100%;
    display: block;
    height: 0;
    border-bottom: 1px solid #d9dee4;
    margin: 3px 0;
}

/*
.n-nav-block .n-nav-user ul {
    list-style: none;
    display: flex;
    height: 100%;
}
.n-nav-block .n-nav-user ul li {
    height: 100%;
}
.n-nav-block .n-nav-user ul li a {
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    display: block;
}
.n-nav-block .n-nav-user .n-icon {
    color: gray;
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
}*/

.n-nav-menu-toggle {
    display: none;
    background-color: gray;
    right: 0;
    flex-direction: row!important;
    margin-left: auto!important;
}


/*
.n-nav-block {
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid #D9DEE4;
    display: flex;
    width: 100%;
    height: 64px;
    max-height: 64px;
    margin-bottom: var(--margin);
}
.n-nav-block-logo {
    padding: 10px 12px;
    overflow: visible;
    flex-direction: row!important;
}
.n-nav-block-logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
}
.n-nav-block-logo img {
    float: left;
    height: 40px;
    margin-right: 5px;
}
.n-nav-block-logo span {
    display: flex;
    padding: 0.4rem;
    font-size: 1.5rem;
    height: 40px;
}
.n-nav-block-menu {
    position: relative;
    flex-direction: row!important;
}
.n-nav-block-menu-container {
    display: flex;
    flex-direction: row!important;
    right: 0;
    width: 100%;
    margin-left: 50px;
}
.n-nav-block-menu ul {
    list-style: none;
    display: flex;
    height: 100%;
}
.n-nav-block-menu ul li {
    height: 100%;
}
.n-nav-block-menu ul li:hover {
}
.n-nav-block-menu ul li.active a {
    border-bottom: 3px solid gray;
    background-color: #E5E5E5;
}
.n-nav-block-menu ul li a {
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    color: inherit;
    display: block;
}
.n-nav-block-menu ul li a:hover {
    background-color: #E5E5E5;
    border-bottom: 3px solid gray;
}
.n-nav-block-menu .n-icon {
    color: gray;
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
}
.n-nav-block-menu ul li .n-nav-block-label {
    text-align: center;
    display: block;
}
.n-nav-block-user {
    background-color: gray;
    right: 0;
    flex-direction: row!important;
    margin-left: auto!important;
}
.n-nav-block-user ul {
    list-style: none;
}
.n-nav-block-menu-toggle {
    display: none;
    background-color: gray;
    right: 0;
    flex-direction: row!important;
    margin-left: auto!important;
}
*/